registry=https://registry.npmmirror.com
puppeteer_download_host=https://npmmirror.com/mirrors
sass_binary_site=https://npmmirror.com/mirrors/node-sass
electron_mirror=https://npmmirror.com/mirrors/electron/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs

